<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="인스타통신">
	<meta property="og:description" content="인터넷가입, 부송동인터넷, 어양동인터넷, 영등동인터넷 ,마동인터넷 ,모현동인터넷">
    <meta name="description" content="인터넷가입, 부송동인터넷, 어양동인터넷, 영등동인터넷 ,마동인터넷 ,모현동인터넷">
    <meta name="naver-site-verification" content="a36e00c9e30b409f53cdf64028bbe23adde7d3ee" />
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/nav.css">
    <link rel="stylesheet" href="../public/css/<%-css%>.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>인스타통신</title>
</head>
<body>
   <%-header%>
   <%-nav%>
   <%-content%>
   <%-footer%>
</body>
</html>